*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 4em;
    font-family: monospace;
}

ul , li{
    list-style: none;
    padding: 0;
    margin: 18px;
}
.grid-wrap{
    position: relative;
    margin: 0%;
    padding: 10px;

}
.grid-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-flow: dense;
    grid-gap: 2px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

 .grid-wrap ul li{
    position: relative;
}

.grid-wrap ul li

